
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>高级选项 - 模型管理</h3>
                <h5></h5>
            </div>
            <ul class="tab-base nc-row">
                <li><a href="{eq name="$Request.action" value="index"}javascript:void(0);{else /}{:U("Channeltype/index")}{/eq}" class="tab {eq name="$Request.action" value="index"}current{/eq}"><span>模型列表</span></a></li>
                <li><a href="{if condition="in_array($Request.action, array('add','edit'))"}javascript:void(0);{else /}{:U("Channeltype/add")}{/if}" class="tab {if condition="in_array($Request.action, array('add','edit'))"}current{/if}"><span>新增/编辑</span></a></li>
            </ul>
        </div>
    </div>