/* eyoucms.com 易优CMS -- 好用,免费,安全 */
@charset "utf-8";
@font-face {
	font-family: "member";
	src: url('../font/member.woff') format('woff'), url('../font/member.ttf') format('truetype');
}
.member_iconfont {
	font-family: "member" !important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
/* Style Reset */
html {
	font-size: 625%;
	-webkit-text-size-adjust: none;
	max-height: 100%
}
body {
	font-size: 0.16rem;
}
body, p, h1, ul, li, input, img, figure, h3, h1, h2, dl, dd, dt {
	margin: 0;
	padding: 0;
}
ul, ol, li, dl, dt, dd {
	list-style: none;
}
a {
	text-decoration: none;
	outline: 0px;
	color: #000
}
fieldset, img {
	border: 0;
}
img {
	display: inline;
	max-width: 100%
}
input[type="text"], input[type="password"], input[type="submit"], input[type="reset"], input[type="button"], textarea {
	-webkit-appearance: none;
}
.clear {
	clear: both;
	width: 100%;
}
.c {
	clear: both;
	width: 100%;
}
/*common*/
.content {
	min-height: 8rem;
	overflow: hidden;
	font-size: 0.2rem;
	margin-top: 6%;
	padding-bottom: 15%;
	background-color: transparent;
}
.content_new {
	margin-top: 0!important;
} /* 首页不要上边距 */
.common_bg {
	background-color: #000!important;
}
/*header*/
.header {
	width: 100%;
	height: 0.85rem;
	position: relative;
	z-index: 9999;
}
.head {
	background: #fff;
	text-align: center;
	position: fixed;
	width: 100%;
	height: 0.85rem;
	top: 0;
	right: 0;
	box-shadow: 0 0 2px rgba(0,0,0,.55);
	line-height: 1rem;
	z-index: 99;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.logo {
	display: inline-block;
	width: 62.8125%;
	height: auto;
	text-align: center;
	float:left;
}
.logo img {
	display: inline;
}
.top-nav {
	position: absolute;
	right: 1.09375%;
	top: 100%;
	width: 14.0625%;
}
.top-home {
	position: absolute;
	left: 1.09375%;
	top: 0;
	width: 14.0625%;
	font-size: 0.4rem;
	line-height: 0.82rem;
	color: #000;
	text-align: center;
	overflow: hidden;
}
.top-title {
	width: 70%;
	position: absolute;
	left: 15%;
	top: 0;
	font-size: 0.3rem;
	line-height: 0.85rem;
	text-align: center;
	color: #461d00;
	overflow: hidden;
}
.sub_page {
	min-height: 6rem;
	overflow: hidden;
	font-size: 0.16rem
}
.sub_page center {
	padding: 0.4rem 0;
	font-size: 0.2rem
}
.sub_page center a {
	color: red
}
.search_hl {
	width: 14.0625%;
	top: -1px;
	position: absolute;
	height: 100%;
	font-size: 0.38rem;
	line-height: 0.7rem;
	color: #fff;
	text-align: center;
	overflow: hidden;
}
.search_l {
	left: 0%;
}
/*header end*/
/* nav */
body {
	position: relative;
	width: 100%;
	background: #f3eee8;
	height: 100%;
}
.allpage {
	position: relative;
	z-index: 10;
	background: #f3eee8;
	height: auto;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	right: 0;
	min-height: 6rem;
}
.clicked {
	right: 220px!important;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.nav {
	width: 220px;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 2;
}
.fixed {
	width: 220px;
	height: 100%;
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 5;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}
.nav li {
	width: 220px;
	margin: 0 auto;
	border-bottom: 1px solid #5f3a1c;
}
.nav li a {
	display: block;
	width: 100%;
	font: 100 16px/50px '微软雅黑';
	color: #fff;
	text-indent: 60px;
}
.nav li a span {
	margin-right: 3%
}
.nav li p {
	text-indent: 70px;
}
.nav li:last-child {
	margin-bottom: 20%;
}
#allmap {
	width: 100%;
	height: 2.5rem;
	font-size: 0.18rem
}
.share {
	bottom: 5%;
	display: none;
	z-index: 9;
	position: fixed!important;
	width: 100%;
}
.black-fixed {
	position: fixed;
	z-index: 99999!important;
	left: 0;
	width: 0;
	top: 0;
	height: 100%;
	background: rgba(0,0,0,0.9);
	text-align: right;
	font-size: 0.4rem;
	color: #fff;
	line-height: 2;
	right: 0;
	overflow: hidden;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	opacity: 0
}
.black-clicked {
	width: 100%;
	padding-right: 2%;
	left: -227px;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	opacity: 1
}
/* nav end*/
/* sub header */
.nav-btn {
	width: 14.0625%;
	right: 0;
	top: 0;
	position: absolute;
	font-size: 0.4rem;
	line-height: 0.85rem;
	color: #222222;
	text-align: center;
	overflow: hidden;
}
.home-btn {
	width: 14.0625%;
	left: 1.09375%;
	top: 0;
	position: absolute;
	height: 100%;
	font-size: 0.4rem;
	line-height: 0.85rem;
	color: #351000;
	text-align: center;
	overflow: hidden;
	display: block;
}
.top-nav {
	position: absolute;
	right: 1.09375%;
	top: 100%;
	width: 14.0625%;
}
.top-home {
	position: absolute;
	left: 1.09375%;
	top: 0;
	width: 14.0625%;
	font-size: 0.4rem;
	line-height: 0.82rem;
	color: #fff;
	text-align: center;
	overflow: hidden;
}
.class-btn {
	position: absolute;
	right: 16%;
	top: 0%;
	width: 18.0625%;
	font-size: 0.24rem;
	line-height: 0.85rem;
	color: #351000;
	text-align: center;
	overflow: hidden;
}
.class-btn span.commonfont {
	font-size: 0.28rem
}
/* footer */
.footer {
	width: 100%;
	height: 0.8rem;
	position: fixed!important;
	bottom: 0;
	right: 0;
	z-index: 9999;
	background: #fff;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.foot {
	width: 100%;
	position: fixed;
	height: 0.8rem;
	bottom: 0;
	left: 0;
	z-index: 10;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.foot-relative {
	position: relative;
	width: 100%;
	height: 0.8rem;
}
.foot a {
	display: block;
	float: left;
	width: 25%;
	color: #fff;
}
.foot a span {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 0.4rem;
	line-height: 0.5rem;
}
.foot a h3 {
	width: 100%;
	text-align: center;
	font: 0.18rem/0.2rem "microsoft yahei";
}
.common-pro-search {
	width: 90%;
	height: 0.533rem;
	background: #fff;
	margin: 2% auto;
}
.common-text {
	float: left;
	border: 0;
	background: #fff;
	width: 84.45%;
	height: 0.533rem;
	text-indent: 0.1rem;
	font: 0.16rem/0.533rem "microsoft yahei";
	border-radius: 0;
}
.common-submit {
	float: right;
	width: 15.55%;
	border: 0;
	font-size: 0.36rem;
	line-height: 0.533rem;
	color: #fff;
	height: 0.533rem;
	border-radius: 0;
	background: none;
	background: #333;
}
/* foot search btn */
.common-search {
	width: 92.1875%;
	position: absolute;
	z-index: 100;
	left: 3.90625%;
	bottom: 0.9rem;
	background: #fff;
	border: 1px solid #ccc;
	display: none;
	border-radius: 8px;
	overflow: hidden;
	-webkit-box-shadow: 0 1px 2px #666 inset;
	box-shadow: 0 1px 2px #666 inset;
}
.search-input-n {
	width: 85%;
	height: 0.533rem;
	line-height: 0.533rem;
	border: none;
	outline: none;
	text-indent: 5%;
	border-radius: 25px;
	font-family: "microsoft yahei";
	background-color: transparent;
}
.search-btn-n {
	width: 12%;
	border: none;
	outline: none;
	font-size: 0.4rem;
	line-height: 0.533rem;
	background-color: transparent;
	color: #666;
	background-color: transparent;
	font-family: "microsoft yahei";
}
/* foot search btn end*/

/*font*/
@font-face {
	font-family: "iconfont";
	src: url('../font/iconfont.woff') format('woff'), url('../font/iconfont.ttf') format('truetype');
}
.iconfont {
	font-family: "iconfont" !important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
/*font*/
@font-face {
	font-family: "commonfont";
	src: url('../font/common.woff') format('woff'), url('../font/common.ttf') format('truetype');
}
.commonfont {
	font-family: "commonfont" !important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
/* top class */
.type {
	width: 100%;
	top: 0.85rem;
	right: 0;
	position: fixed;
	background: #4d4d4d;
	z-index: 999;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	height: 3rem;
	padding: 0.1rem 0;
	display: none
}
.type li {
	width: 90%;
	background: #fff;
	font: 0.2rem/0.46rem "microsoft yahei";
	margin: 2% auto;
	overflow: hidden;
	position: relative;
}
.type li a {
	display: block;
	float: left;
	width: 60%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding: 0 4%;
	color: #666
}
.type li span.commonfont {
	font-size: 0.3rem;
	line-height: 0.46rem;
	display: block;
	width: 16%;
	text-align: center;
	color: #666;
	position: absolute;
	top: 0;
	right: 0;
}
.type li dl {
	float: left;
	border-top: 2px solid #232323;
	width: 100%;
	display: none
}
.type li dl dd {
	overflow: hidden
}
.type li dl dd a {
	width: 100%
}
.type h1 {
	font: 0.2rem/2 "microsoft yahei";
	width: 90%;
	margin: 0 auto;
	color: #fff;
}
/* top class */
.class {
	width: 100%;
	top: 8.33em;
	position: fixed;
	background: #232323;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	height: 3rem;
	padding: 0.1rem 0;
	display: none
}
.class li {
	width: 90%;
	background: #fff;
	font: 0.2rem/0.46rem "microsoft yahei";
	margin: 2% auto;
	overflow: hidden;
	position: relative;
}
.class li a {
	display: block;
	float: left;
	width: 60%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding: 0 4%;
	color: #666
}
.class li span.iconfont {
	font-size: 0.3rem;
	line-height: 0.46rem;
	display: block;
	width: 16%;
	text-align: center;
	color: #666;
	position: absolute;
	top: 0;
	right: 0;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
	-moz-transition: -moz-transform 0.3s ease-out;
	-webkit-transition: -webkit-transform 0.3s ease-out;
	-o-transition: -o-transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
}
.class li span.iconfont.class-up {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	transform: rotate(0deg);
	-moz-transition: -moz-transform 0.3s ease-out;
	-webkit-transition: -webkit-transform 0.3s ease-out;
	-o-transition: -o-transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
}
.class li dl {
	float: left;
	border-top: 2px solid #232323;
	width: 100%;
	display: none
}
.class li dl dd {
	overflow: hidden
}
.class li dl dd a {
	width: 100%
}
/* subpage */
.about, .view {
	width: 92.5%;
	margin: 0% auto;
	font: 0.22rem/2.4 "microsoft yahei";
	color: #1d1d1d;
}
.view p {
	margin: 0;
	padding: 0;
}
.view h1 {
	width: 100%;
	text-align: center;
	font: 0.3rem/0.5rem "microsoft yahei";
	color: #393939;
}
.about h1 {
	line-height: 0.6rem;
	text-align: center;
	font: 0.28rem/0.5rem "microsoft yahei";
	font-weight: bold;
	margin-bottom: 3%;
}
.view img {
	max-width: 100%;
	display: inline
}
.page {
	display: block;
	width: 100%;
	height: 0.38rem;
	font: 0.22rem/0.38rem "microsoft yahei";
	color: #000;
	background: #ddd;
	border-radius: 0.38rem;
	margin: 2% auto;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	text-indent: 0.1rem;
}
.back {
	display: block;
	width: 33.57%;
	margin: 2% auto;
	height: 0.4rem;
	border-radius: 0.4rem;
	font: 0.2rem/0.4rem "microsoft yahei";
	color: #393939;
	text-align: center;
}
/* product */
.product-top {
	width: 91.25%;
	margin: 2% auto;
	border-bottom: 1px solid #c9c9c9;
	height: 0.5833rem;
	font: 0.2rem/0.5833rem "microsoft yahei";
	color: #7b7b7b;
}
.product-top p {
	float: left;
}
.product-top p span {
	color: #3e74ce
}
.product-top-right {
	float: right;
	color: #7b7b7b
}
.product-top-right a {
	font-size: 0.3rem;
	color: #272727;
	vertical-align: middle
}
.product-top-right a.show {
	color: #3e74ce
}
/*view   paging*/
.paging {
	margin: 5% 0;
	padding-bottom: 5%
}
.paging .first {
	display: none;
}
.paging .end {
	display: none;
}
.paging .prev {
	float: left;
	width: 25%;
	margin-left: 3%;
	text-align: center;
	border: 1px solid #1a423f;
	color: #000;
	font-size: 0.2rem;
	line-height: 2;
	border-radius: 0.07rem
}
.paging .current {
	position: absolute;
	left: 33%;
	width: 33%;
	text-align: center;
	font-size: 0.2rem;
	font-weight: bold;
	line-height: 2;
}
.paging .next {
	float: right;
	width: 25%;
	margin-right: 3%;
	text-align: center;
	border: 1px solid #1a423f;
	color: #000;
	font-size: 0.2rem;
	line-height: 2;
	border-radius: 0.07rem
}
/* news */
.news {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 2% auto;
}
.news li {
	width: 100%;
	height: 0.691rem;
	overflow: hidden
}
.news li a {
	display: block;
	width: 100%;
	height: 0.691rem;
	overflow: hidden;
	font: 0.2rem/0.691rem "microsoft yahei"
}
.news li span:nth-child(1) {
	display: block;
	float: left;
	width: 60%;
	margin-left: 4%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	color: #1d1d1d
}
.news li span:nth-child(2) {
	display: block;
	float: right;
	margin-right: 4%;
	color: #9f9f9f
}
.news li:nth-child(even) {
	background: #fff;
}
.imore, .back {
	display: block;
	width: 36%;
	margin: 2% auto;
	overflow: hidden;
	border-radius: 0.3rem;
	background: #ee0049;
	text-align: center;
	color: #fff;
	font: 0.20rem/2.2 "microsoft yahei";
	clear: both
}
.back {
	display: block;
	width: 36%;
	margin: 6% auto 4%;
	overflow: hidden;
	border-radius: 0.3rem;
	background: #9c541a;
	text-align: center;
	color: #fff;
	font: 0.20rem/2.2 "microsoft yahei";
	clear: both
}
.imore:before, .back:before {
	content: "";
	clear: both;
}
.common_news {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 0% auto;
}
.news1, .news1 a, .news2, .news2 a {
	width: 100%;
	height: auto;
	overflow: hidden;
	font: 0.23rem/0.691rem "microsoft yahei";
	display: block;
}
.news2 {
	width: 92%;
	margin: 0 auto
}
.news1 a span:nth-child(1), .news2 a span:nth-child(1) {
	display: block;
	float: left;
	width: 70%;
	height: 0.691rem;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	color: #1d1d1d
}
.news1 a span:nth-child(2), .news2 a span:nth-child(2) {
	display: block;
	float: right;
	width: 29%;
	height: 0.691rem;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	text-align: right;
	color: #9f9f9f
}
.news2 div {
	width: 100%;
	font: 0.18rem/0.3rem "microsoft yahei";
	color: #666;
	max-height: 0.9rem;
	overflow: hidden;
}
.news3 {
	width: 96%;
	margin: 0 auto;
	height: auto;
	overflow: hidden;
	border-bottom: 1px dashed #ccc;
	padding: 3% 0 4%
}
.news3>a {
	display: block;
	width: 33%;
	height: auto;
	overflow: hidden;
	float: left;
	padding-left: 3%;
}
.news1>a>img {
	display: block;
	width: 100%;
	float: left;
}
.news3>h1 {
	display: block;
	width: 100%;
	margin-left: 3%;
	overflow: hidden;
}
.news3>h1>a {
	display: block;
	width: 100%;
	height: 0.35rem;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font: 0.22rem/0.3rem "microsoft yahei";
	color: #333;
}
.news3>div {
	float: left;
	width: 58%;
	margin-left: 3%;
	overflow: hidden;
	font: 0.18rem/0.24rem "microsoft yahei";
	max-height: 0.93rem;
	color: #000;
	margin-top: 1%
}
.news4 {
	width: 50%;
	float: left;
	height: auto;
	overflow: hidden;
	margin: 2% auto;
}
.news4 a {
	display: block;
	width: 80%;
	margin: 0 auto;
}
.news4 a img {
	display: block;
	width: 100%;
}
.news4 a span {
	display: block;
	width: 100%;
	text-align: center;
	font: 0.22rem/0.3rem "microsoft yahei";
	color: #666;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin-top: 6%
}
.news5 {
	width: 96%;
	margin: 2% auto;
	height: auto;
	overflow: hidden;
}
.news5 a.news5imgwrap {
	width: 25%;
	height: auto;
	float: left;
	margin-left: 3%;
}
.news5 a.news5imgwrap img {
	display: block;
	width: 100%;
}
.news5 h1 {
	display: block;
	float: left;
	width: 68%;
	margin-left: 3%;
	overflow: hidden
}
.news5>h1>a {
	display: block;
	width: 100%;
	height: 0.3rem;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font: 0.2rem/0.3rem "microsoft yahei";
	color: #333;
}
.news5>div {
	float: left;
	width: 68%;
	margin-left: 3%;
	overflow: hidden;
	font: 0.18rem/0.2rem "microsoft yahei";
	max-height: 0.59rem;
	color: #999;
	margin-top: 1%
}
.news1 {
	width: 92%;
	padding: 0 2%;
	margin: 0 2%;
	border-bottom: 1px dashed #ccc;
}
/* case */
.case {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 2% auto
}
.case li {
	width: 100%;
	height: auto;
	padding: 2% 0;
	border-bottom: 1px solid #ccc;
	overflow: hidden
}
.case li>a {
	display: block;
	width: 35.46875%;
	float: left;
	margin: 0 3.75% 0 4.6875%;
	border: 1px solid #fff;
}
.case li>a img {
	display: block;
	width: 100%
}
.case li h1 {
	float: left;
	width: 51.875%;
	height: 0.35rem;
	font: 0.2rem/0.35rem "microsoft yahei";
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.case li h1 a {
	color: #232323
}
.case li div {
	float: left;
	width: 51.75%;
	height: 1.1rem;
	overflow: hidden;
	font: 0.18rem/0.28rem "microsoft yahei";
	color: #1d1d1d
}
/* for white */
.white-bg {
	background: #fff;
}
.header {
	height: 0.85rem!important;
}
@media all and (min-width:640px) {
.content {
	width: 640px;
	margin: 0 auto;
	position: relative;
	margin-top: 6%;
	padding-bottom: 16%;
}
}
@media only screen and (max-width: 479px) and (min-width: 321px) {
html {
	font-size: 70px;
}
}
@media only screen and (max-width: 320px) {
html {
	font-size: 60px;
}
}
/* search*/
input {
	outline: none;
}
.search {
	width: 96%;
	height: 0.691rem;
	padding: 0 2%;
	position: absolute;
	top: -120%;
	left: 0;
	background-color: #2ba298;
	font-family: "microsoft yahei";
}
.search-input {
	width: 75%;
	border: 1px solid #1a423f;
	border-radius: 15px 0 0 15px;
	float: left;
	border-right: none;
	height: 0.461rem;
	font-size: 0.18rem;
	font-family: "microsoft yahei";
	text-indent: 5%;
	margin-top: 2%;
	background-color: #FFFFFF
}
.search-btn {
	width: 15%;
	float: left;
	background-color: #fff;
	border-radius: 0 15px 15px 0;
	border: 1px solid #1a423f;
	border-left: none;
	height: 0.491rem;
	font-size: 0.25rem;
	margin-top: 2%;
}
.search a {
	display: inline-block;
	width: 9%;
	float: left;
	color: #fff;
	text-align: center;
	height: 0.7rem;
}
.index_text {
	width: 90%;
	font-size: 14px;
	height: 0.5rem;
	background: #fff url(../img/search_bg_05.png) no-repeat 95% center;
	-webkit-background-size: 7%;
	background-size: 7%;
	border: none;
	font-size: 0.21rem;
	font-family: "microsoft yahei";
	text-indent: 3%;
	margin: 2% 0;
	border-radius: 7px;
}
/* login & reg */
.login {
	width: 87.5%;
	margin: 10% auto;
	height: auto;
	overflow: hidden
}
.login li {
	width: 100%;
	height: auto;
	padding-bottom: 3%;
	overflow: hidden;
	font: 0.16rem/1.4 "microsoft yahei"
}
.login_input {
	display: block;
	border: 1px solid #d9d9d9;
	background: #fff;
	width: 96%;
	float: left;
	height: 0.42rem;
	font: 0.2rem/0.42rem "microsoft yahei";
	text-indent: 0.1rem;
	-webkit-appearance: none;
	border-radius: 0
}
.login_textarea {
	display: block;
	border: 1px solid #d9d9d9;
	background: #fff;
	width: 95%;
	float: left;
	height: 1.42rem;
	font: 0.2rem/0.42rem "microsoft yahei";
	text-indent: 0.1rem;
	-webkit-appearance: none;
	border-radius: 0;
	resize: none
}
.pin_width {
	width: 51.78%;
}
.login_pin {
	width: 30%;
	float: left;
	height: 0.42rem;
	margin-left: 4%;
}
.login_btn {
	width: 98%;
	height: 0.5rem;
	color: #fff;
	border: 0;
	-webkit-appearance: none;
	border-radius: 0;
	text-align: center;
	font: 0.22rem/0.5rem "microsoft yahei";
	background: #9c541a;
}
.red_alert {
	width: 87.5%;
	margin: 0 auto;
	font: 0.2rem/0.44rem "microsoft yahei";
	color: red;
}
.login_link1 {
	float: left;
	font: 0.2rem/0.44rem "microsoft yahei";
	color: #949494;
	margin-left: 4%
}
.login_link2 {
	float: right;
	font: 0.2rem/0.44rem "microsoft yahei";
	color: #949494;
	margin-right: 4%
}
.info_left {
	float: left;
	width: 26%;
	text-align: left;
	font: 0.2rem/0.44rem "microsoft yahei";
	color: #707070
}
.info_username {
	float: left;
	width: 16%;
	text-align: center;
	font: 0.2rem/0.44rem "microsoft yahei";
	color: #707070
}
.info_input {
	float: left;
	width: 70%;
}
/* pages*/

.pages {
	margin-top: 35px;
	float: left;
	width: 100%;
	line-height: 34px;
	text-align: center;
	color: #1d1d1d;
}
.pages a {
	color: #1d1d1d;
	padding: 0 12px;
	margin: 0 5px;
font-/weight: bold;
	background: #fff;
}
.pages * {
	display: inline-block;
	_zoom: 1;
	_display: inline;
	vertical-align: middle;
	line-height: 30px;
	height: 30px;
	padding-bottom: 1px;
}
.pages .current {
	display: inline-block;
	color: #fff;
	background: #1d1d1d;
	padding: 0px 12px
}
.pages a:hover {
	display: inline-block;
	color: #fff;
	background: #1d1d1d;
}

::-webkit-scrollbar {
 width: 5px;
 height: 5px;
}
div.none {
	display: none !important;
}
/*屏蔽uc广告*/
#uc_recommend_ad { display: none !important; }
iframe[src*="ucweb.com"] { display: none !important; }
/*end*/
