<div class="footer">
  <div class="foot foot-relative" id="foot">
    <div class="foot-relative"> {eyou:type typeid='38'} <a href="{$field.typeurl}" title="地图"> <span class="commonfont">&#xe605;</span>
      <h3>地图</h3>
      </a> {/eyou:type} <a href="tel:{eyou:global name='web_attr_2' /}" title="电话"> <span class="commonfont">&#xe604;</span>
      <h3>电话</h3>
      </a> <a href="sms:{eyou:global name='web_attr_57' /}" title="短信"> <span class="commonfont">&#xe601;</span>
      <h3>短信</h3>
      </a> <a href="javascript:;" class="cbtn-share common-search-btn" title="分享"> <span class="commonfont">&#xe600;</span>
      <h3>分享</h3>
      </a> </div>
  </div>
</div>
<div class="share"> 
  <!--百度分享-->
  <div class="bdsharebuttonbox" data-tag="share_2" style="width: 190px;margin: 0.5rem auto;"> <a href="#" class="bds_qzone" data-cmd="qzone"></a> <a href="#" class="bds_tsina" data-cmd="tsina"></a> <a href="#" class="bds_baidu" data-cmd="baidu"></a> <a href="#" class="bds_tqq" data-cmd="tqq"></a> <a  href="#" class="bds_renren" data-cmd="renren"></a> <a href="" class="bds_weixin" data-cmd="weixin"></a> </div>
  <script>
	$(".cbtn-share").click(function(){$(".share").slideToggle(300)});   // 分享
	window._bd_share_config = {
		share : [{
			"bdSize" : 32
		}],
	}
	with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js'];
</script> 
  <!--百度分享--> 
</div>
<!-- 应用插件标签 start --> 
{eyou:weapp type='default'/} 
<!-- 应用插件标签 end --> 
<!-- 网站第三方代码 start --> 
{eyou:global name='web_thirdcode_pc'/} 
<!-- 网站第三方代码 end -->-> 