
                    <div class="sDiv2 addartbtn fl">
                        <input type="button" class="btn {eq name="$Request.action" value="index"}current{/eq}" value="产品列表" onClick="window.location.href='{eq name="$Request.action" value="index"}javascript:void(0);{else /}{:U("Product/index", array('typeid'=>$Request.param.typeid))}{/eq}';">
                    </div>
                    {eq name="$Think.const.CONTROLLER_NAME.'@add'|is_check_access" value="1"}
                    <div class="sDiv2 addartbtn probtn">
                        <input type="button" class="btn" value="新增" onClick="window.location.href='{:U("Product/add", array("typeid"=>$Request.param.typeid))}';">
                    </div>
                    {/eq}
                    {eq name="$Think.const.CONTROLLER_NAME.'@attribute_index'|is_check_access" value="1"}
                    <div class="sDiv2 addartbtn fl">
                        <input type="button" class="btn {eq name="$Request.action" value="attribute_index"}current{/eq}" value="参数列表" onClick="window.location.href='{eq name="$Request.action" value="attribute_index"}javascript:void(0);{else /}{:U("Product/attribute_index", array("typeid"=>$Request.param.typeid))}{/eq}';">
                    </div>
                    {/eq}
                    {eq name="$Think.const.CONTROLLER_NAME.'@attribute_add'|is_check_access" value="1"}
                    <div class="sDiv2 addartbtn probtn">
                        <input type="button" class="btn" value="新增" onClick="window.location.href='{:U("Product/attribute_add", array("typeid"=>$Request.param.typeid))}';">
                    </div>
                    {/eq}