<!--页尾开始-->

<div class="footer">
  <div class="footer00"> 
    <!--二维码开始-->
    <div class="footer01"> <img src="{eyou:global name='web_attr_4' /}" alt="{eyou:global name="web_name" /}" width="138" height="138"/></div>
    <!--二维码结束-->
    <div class="footer02"> 
      <!--友情链接开始-->
      <div class="footer03">友情链接： {eyou:flink titlelen='20' row='20' type='1'}<a href="{$field.url}"  title="{$field.title}" {$field.target}>{$field.title}</a>{/eyou:flink} <br />
        地址：{eyou:global name='web_attr_55' /}　　电话：<span>{eyou:global name='web_attr_2' /}</span>　　手机：<span>{eyou:global name='web_attr_57' /}</span></div>
      <!--友情链接结束--> 
      
      <!--分享代码开始-->
      <div class="footer04"><span>分享到：</span>
        <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_tqf" data-cmd="tqf" title="分享到腾讯朋友"></a><a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a></div>
        <script>
	window._bd_share_config = {
		share : [{
			"bdSize" : 24
		}],
	}
	with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
</script> 
      </div>
      <!--分享代码结束--> 
    </div>
  </div>
</div>
<!--页尾结束--> 

<!--底部开始-->
<div class="f_bq">{eyou:global name='web_copyright' /}　　网站备案号：{eyou:global name='web_recordnum' /}</div>
<!--底部结束--> 

<!--浮动工具开始-->
<div class="c-tools">
  <ul>
    <li class="tel-ico"><span>固话：{eyou:global name='web_attr_2' /}<br>
      手机：{eyou:global name='web_attr_57' /}</span></li>
    <li class="ewm-ico"><span class="ewmPic"> <img src="{eyou:global name='web_attr_4' /}" alt="{eyou:global name="web_name" /}"/></span></li>
    <li class="qq-ico"><a href="http://wpa.qq.com/msgrd?v=3&amp;uin={eyou:global name='web_attr_3' /}&amp;site=qq&amp;menu=yes"><span>QQ：{eyou:global name='web_attr_3' /}</span></a></li>
    <li class="top-ico"></li>
  </ul>
</div>
<!--浮动工具结束--> 
<script src="{eyou:global name='web_templets_pc' /}/skin/js/search.js"></script> 
<!-- 应用插件标签 start --> 
{eyou:weapp type='default'/} 
<!-- 应用插件标签 end --> 
<!-- 网站第三方代码 start --> 
{eyou:global name='web_thirdcode_pc'/} 
<!-- 网站第三方代码 end -->