<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$eyou.field.seo_title}</title>
<meta name="description" content="{$eyou.field.seo_description}" />
<meta name="keywords" content="{$eyou.field.seo_keywords}" />
<link href="{eyou:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<meta name="viewport" content="width=1080">
<link href="{eyou:global name='web_templets_pc' /}/skin/css/master.css" rel="stylesheet">
<link href="{eyou:global name='web_templets_pc' /}/skin/css/style.css" rel="stylesheet">
<link href="{eyou:global name='web_templets_pc' /}/skin/css/subpage.css" rel="stylesheet">
<link href="{eyou:global name='web_templets_pc' /}/skin/css/common.css" rel="stylesheet">
<script src="{eyou:global name='web_templets_pc' /}/skin/js/jquery.js"></script>
<script src="{eyou:global name='web_templets_pc' /}/skin/js/jquery.superslide.2.1.1.js"></script>
<script src="{eyou:global name='web_templets_pc' /}/skin/js/form.js"></script>
<script src="{eyou:global name='web_templets_pc' /}/skin/js/common.js"></script>
<script src="{eyou:global name='web_templets_pc' /}/skin/js/jquery.validator.js"></script>
<script src="{eyou:global name='web_templets_pc' /}/skin/js/zh_cn.js"></script>
<script src="{eyou:global name='web_templets_pc' /}/skin/js/jquery.tips.js"></script>
</head>
<body>
{eyou:include file="/template/pc/header.htm"/}
<div class="product sub_pro"> {eyou:include file="/template/pc/left.htm" /}
  <div class="product02">
    <div class="content_com_title">
      <h2>{$eyou.field.typename}</h2>
      <div class="bread">当前位置：{eyou:position style="crumb" /}</div>
    </div>
    <!--单页内容开始-->
    <div class="content"> 
      <!--留言通用框架-->
      <div class="c-show">
        <div class="c-proBox">
          <h3>{$eyou.field.typename}</h3>
          <div class="c-cb"> {eyou:guestbookform type='default'}
            <form class="c-book form_book" method="POST" enctype="multipart/form-data" action="{$field.action}">
              <ul class="c-cbli">
                <li><em>姓名</em>
                  <input type="text" name="{$field.attr_4}" data-rule="姓名:required;">
                </li>
                <li><em>电话</em>
                  <input type="text" name="{$field.attr_5}" data-rule="电话:required;mobile|tel">
                </li>
                <li><em>地址</em>
                  <input type="text" name="{$field.attr_9}" data-rule="地址:required;">
                </li>
                <li><em>性别</em>
                  <select name="{$field.attr_7}">
                    
                    
                  {eyou:volist name='$field.options' id='vo'}
                  
                    
                    <option value="{$vo.value}">{$vo.value}</option>
                    
                    
                  {/eyou:volist}
                   
                  
                  </select>
                </li>
                <li><em>内容</em>
                  <textarea name="{$field.attr_6}" data-rule="留言内容:required;"></textarea>
                </li>
                <li class="bnt">
                  <input type="submit" value="发表">
                  <input type="reset" value="重置">
                </li>
                {$field.hidden}
              </ul>
            </form>
            {/eyou:guestbookform} </div>
        </div>
      </div>
      <!--留言通用框架--> 
    </div>
    <!--单页内容结束--> 
  </div>
  <div class="clear"></div>
</div>
<div class="clear"></div>
{eyou:include file="/template/pc/footer.htm" /}
</body>
</html>